<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PULSE VENTURE - Upload File</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        nav{
            background-color:snow;
            top:-50px;
        }
        body {
            background-color: lightsalmon;
            height: 1350px;
        }

        h2 {
            position: absolute;
            width: 1000px;
            top: 180px;
            left: 170px;
            font-family: 'Mongolian Baiti';
            font-weight: bold;
            color: darkslategrey;
        }

        p {
            position: absolute;
            top: 150px;
            left: 85px;
        }

        w {
            position: absolute;
            top: 560px;
            left: 170px;
            width: 500px;
        }

        label {
            position: absolute;
            left: -500px;
            top: 125px;
            font-family: 'Lucida Sans';
            color: black;
        }

        span {
            position: absolute;
            left: 300px;
            top: 370px;
        }

        div2 {
            position: absolute;
            top: 130px;
            left: 970px;
        }

        #picture {
            position:absolute;
            top:150px;
            left:230px;
            width:500px;
            height:30px;
        }

        input[type=file] {
            position: absolute;
            height: 100px;
            top: 500px;
            left: 400px;
            background-color: gainsboro;
        }

        input[type="submit"] {
            position: absolute;
            top: 380px;
            left: 220px;
            background-color: darkslateblue;
            color: white;
        }
      
    </style>

</head>
<body>

    <div class="container">
        <form method="post"
              action="/Mission/Mission3Post"
              enctype="multipart/form-data">

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-6">
                    <p><img src="~/Jimage/yoga-icon.png" width="85" , height="85" /></p>
                    <h2>Mission 3 - Do 10 Minutes of Yoga Exercises </h2>
                </div>
            </div>

            <div id="picture">
                <div class="form-group row">
                    <label class="control-label col-sm-2" for="picture">Upload Picture :</label>
                    <div class="col-sm-6">
                        <input type="file" name="picture" id="picture" class="form-control" />
                    </div>
                </div>
            </div>

            @if (ViewData["Picture"] != null)
            {
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-6">
                        <span><img src="/Photo/@ViewData["Picture"]" width="450" height="350" /></span>
                    </div>
                </div>
            }


            <div class="form-group row">
                <div class="offset-sm-2 col-sm-6">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </div>

            <div2>
                <a href="~/Mission/MissionPage" style="color:snow" width="100">Back to Mission Page</a>
            </div2>

            @if (ViewData["Message"] != null)
            {
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-6">
                        <w>
                            <div class="alert alert-@ViewData["MsgType"]">
                                <text>@Html.Raw(ViewData["Message"])</text>
                            </div>
                        </w>
                    </div>
                </div>

            }





        </form>

    </div>

</body>
</html>
