@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        nav{
            background-color:lightsalmon; 
            margin-top:0px;
            position:relative;
        }

        body {
            background-color: snow;
            height: 1050px;
        }

        a {
            background-size: 100%;
            position: absolute;
            margin-left: 380px;
            height: 100px;
            top: 180px;
        }

        h4 {
            margin-left: 200px;
            margin-top: 350px;
            font-family: Georgia;
            font-size: large;
            font-weight: bold;
            color: crimson;
        }

        h6 {
            position: absolute;
            left: 610px;
            font-family: 'Lucida Calligraphy';
            font-weight: bold;
            color: darkred;
            top: 160px;
        }

        p {
            margin-left: 200px;
            height: 75px;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        #pv-mission {
            margin-top: 10px;
        }

        #pv-work {
            margin-top: 10px;
        }

        div2{
            position:absolute;
            top:140px;
        }
    </style>
</head>

<body>
    <h6> Embark on this journey with us! </h6>

    <a><img src="/Jimage/ABOUT PULSE VENTURE.png" width="740" , height="280" /></a>

    <div2>
        <h4> <u> What is PULSE VENTURE? </u> </h4>
        <p>
            PULSE VENTURE is a subscription plan in the PULSE App, hosted by Prudential Assurance Company in Singapore.
            It consists a series of mental well-being missions that include fun factors such as relatable characters, battle mode
            to accompany students through the journey.
        </p>

        <p>
            Through PULSE VENTURE, it promotes a healthy state of mind and body and helps to create bonds between family and friends.
            It is a growing journey for students in learning how to cope with mental health.
        </p>

        <h4 id="pv-mission"> <u> Mission & Values </u> </h4>
        <p>
            <b>Mission</b> - To make a positive difference to people's mental health and wellbeing.
            <br />
            <b>Vision</b> - A society who actively values and supports people on their journey to positive mental health.
        </p>

        <h4 id="pv-work"> <u> How does PULSE VENTURE works? </u></h4>
        <p>
            • It is a journey that consist of different chapters with a series of missions.
            <br />
            • Upon completion of each chapter, user will be able to receive 2 characters card. If completed up to 4 missions, 1 character card will be given.
            Card ranges from Rare to Legendary.
            <br />
            • There will be 7 missions in a chapter to complete weekly. Student can complete the missions at their own pace at own time, own target.
            <br />
            • At the end of PULSE VENTURE, they are able to customise a journal of theirs and note down their experiences.
            <br />
        </p>
    </div2>

</body>
</html>