@{ 
    Layout = null;
}
<!DOCTYPE html>

<style>

    body {
        background-color: snow;
    }

    h1 {
        color: deeppink;
        font-weight: bold;
        font-family: 'Bradley Hand ITC';
        font-size: 70px;
        margin-left: 10px;
    }

    p{
        font-family: monospace;
        font-size: 18px;
    }

    img {
        border-radius: 50%;
    }

</style>

<h1 style="text-align:center"> Logged Out - PULSE VENTURE</h1>

<center>
    <img src="/image/thankyou.jpg" style="width:35%"/>
</center>

&nbsp;

<p style="text-align:center">
    Thank you for using Pulse Venture!
    You have been successfully logged out of your pulse account. Hope you have enjoyed your Pulse Venture Journey with us!  &#128516;
</p>
